:root {
    --main-color: cadetblue;
    --secondary-color: indigo;
    font-family: NotoSans, sans-serif ;
}

body {
    background-color: var(--main-color);
    margin: 5vh;
}

h1 {
    font-size: 4rem;
    display: flex;
    justify-content: center;
    color: var(--secondary-color);
}

.formulaire {
    display: flex;
    justify-content: center;
}

.check {
    color: var(--secondary-color);
    font-size: 2rem;
}